<header data-theme="admin">
  <div>
    <a href="/admin" class="menu-logo"><img src="/others/logo_white.png" alt="Logo Foodfy"></a>
    <nav class="menu-links">
      <a href="/admin/recipes" class="menu-link">Receitas</a>
      <a href="/admin/chefs" class="menu-link">Chefs</a>
    </nav>
  </div>
</header>