{% extends "admin/layout.njk" %}

{% block head %}
  <title>Admin Foodfy - Receita de {{recipe.title}}</title>
{% endblock head %}

{% block content %}

  <div >
    <h2>Receita: {{recipe.title}}</h2>
    <a href="/admin/recipes/{{recipe.id}}/edit" class="btn btn-primary">Editar receita</a>
  </div>

  <section class="recipe recipe-details">

    <div class="center">

      <img src="{{files[0].src}}" alt="" class="recipe-image">

      <h4>{{recipe.title}}</h4>

      <h5>por {{recipe.chef_name}}</h5>

    </div>

    {% if recipe.ingredients %}

      <div class="recipe-topic">

        <div>

          <h2>Ingredientes</h2>

        </div>

        <div class="recipe-content show">

          <ul>
            {% for ingredient in recipe.ingredients %}
              <li>{{ingredient}};</li>
            {% endfor %}
          </ul>

        </div>

      </div>

    {% endif %}

    {% if recipe.preparation %}

      <div class="recipe-topic">

        <div>

          <h2>Modo de Preparo</h2>

        </div>

        <div class="recipe-content">

          <ul>
            {% for preparation in recipe.preparation %}
              <li>{{preparation}}</li>
            {% endfor %}
          </ul>

        </div>

      </div>

    {% endif %}

    {% if recipe.information %}

      <div class="recipe-topic">

        <div>

          <h2>Informações</h2>

        </div>

        <div class="recipe-content">

          <p>
            {{ recipe.information | striptags(true) | escape | nl2br }}
          </p>

        </div>

      </div>

    {% endif %}

  </section>

{% endblock content %}